body, html {
    margin: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 100%;
    

    display: flex;
    justify-content: center;
    align-items: center;
}

.img1 {
    background-image: url('https://www.greenpeace.org.au/static/planet4-australiapacific-stateless/2024/02/578210d6-tumblr_njzjlss9h71tv1qiho1_1280.gif'); 
}

.img2 {
    background-image: url('https://i.pinimg.com/originals/e5/3f/e4/e53fe48215db3428b11932a6042fff7d.gif');
}

.caption {
    text-align: center;
    color: #000;
}

.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
    text-transform: uppercase;
}


.content-block {
    color: #ddd;
    background-color: #000; 
    padding: 50px 80px;
    text-align: center;
}

.content-block h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
}